<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="js/jquery-3.3.1.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script> -->
<body>

  <div ng-app="myApp" ng-controller="quesstionCtrl"> 
    <div class="container" ng-repeat="q in questions" ng-show="$index === count">
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
              <div class="question">
                  <h6 id="question">{{(count+1) +". "+ q.Text}}</h6>
              </div>
                              
                <div class="form-check" data-toggle="buttons">
                    <!-- Phương pháp chuẩn khoa học -->
                    <label class="btn btn-outline-primary col-sm-12" ng-repeat="option in q.Answers track by option.Id">
                        <input type="radio" name="{{q.Id}}" ng-value="option">
                        {{option.Text}}
                      </label>
                      <!-- Phương pháp hơi ngu si -->
                      <!-- <label for="" class="btn btn-outline-primary col-sm-12" ng-show="!!q.Answers[0].Text">
                          <input type="radio"  name="anwser" id="" value="checkedValue" checked>{{q.Answers[0].Text}}
                      </label> 
                      <br>
                                                
                        <label for="" class="btn btn-outline-primary col-sm-12" ng-show="!!q.Answers[1].Text">
                            <input type="radio"  name="anwser" id="" value="checkedValue" checked>{{q.Answers[1].Text}}
                        </label>
                        <br>
                        
                        <label for="" class="btn btn-outline-primary col-sm-12" ng-show="!!q.Answers[2].Text">
                            <input type="radio"  name="anwser" id="" value="checkedValue" checked>{{q.Answers[2].Text}}
                        </label>
                        <br>
                        
                        <label for="" class="btn btn-outline-primary col-sm-12" ng-show="!!q.Answers[3].Text">
                            <input type="radio"  name="anwser" id="" value="checkedValue" checked>{{q.Answers[3].Text}}
                        </label>
                        <br> -->
                                    
                </div>
                        
                <button type="button" class="btn btn-light" ng-click="first()"><i class="fa fa-angle-double-left"></i> First</button>
                <button type="button" class="btn btn-light" ng-click="prev()"><i class="fa fa-angle-left"></i> Prev</button>                 
                <button type="button" class="btn btn-light" ng-click="next()" >Next <i class="fa fa-angle-right"></i></button>                                                 
                <button type="button" class="btn btn-light" ng-click="last()">Last <i class="fa fa-angle-double-right"></i></button> 
          </div>    
                           
        </div>
      </div>
    </div>
  </div>

  <script>
    var app = angular.module('myApp', []);
    app.controller('quesstionCtrl', function($scope, $http) {
      var url="db/ADAV.js";
      $http.get(url).then(function (response) {
          $scope.questions = response.data;
         
          $scope.count=0;
          $scope.next=function(){
            if($scope.count!==$scope.questions.length-1)      
              return $scope.count++;
          }
          $scope.prev=function(){
            if($scope.count!==0)
              return $scope.count--;
          }
          $scope.first=function(){
            return $scope.count=0;
          }
          $scope.last=function(){
            return $scope.count=$scope.questions.length - 1;
          }
      });
    });
  </script>
</body>
</html>